@main("Hello") {
    <section id="content">
        <div class="wrapper doc">
            <article>
                <h1>Todo List</h1>
                <ul class="todo-wrap">
                    <li class="todo-single">
                        <h3>Test todo</h3>
                        <div>
                            <input type="submit" value="Edit">
                            <input type="submit" value="Delete">
                        </div>
                    </li>
                </ul>
                <section>
                    <input type="text" placeholder="new todo" />
                    <button>Create New Todo</button>
                </section>
            </article>
        </div>
    </section>
}